{% extends 'layouts/master.html' %}

{% block content %}
    <section style="margin-top: 55px; background-color: aqua;" class="bg-light py-5" id="formations">
        <h2>Inscription Effectuer</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis eius consequuntur cupiditate porro doloremque. Nobis magnam veniam dolorum. Nesciunt accusamus cupiditate aperiam, tempora repudiandae ipsa eos ex? Tempore, magni cupiditate.</p>
        <a href=" {% url 'confirmation_inscription' %} ">
            <button>Faire Payement</button>
        </a>
    </section>
{% endblock %}