{% extends 'layouts/master.html' %}
{% load static %}
{% block content %}
  <section class="register-form">
    <div class="card shadow-lg" style="width: 400px; background-color: #ffffff;">
      <div class="card-body p-5">
        <h2 class="text-center mb-4">INSCRIPTION</h2>
        <form method="post" action="{% url 'inscrire_membre' %}" enctype="multipart/form-data" >
          {% csrf_token %}

          <div>
            <p style="color:red" >{{erreur}}</p>
          </div>

          <div class="mb-3">
            <label for="name" class="form-label">Nom</label>
            <input type="text" class="form-control" id="name" name="nom" placeholder="Entrez votre nom " />
          </div>
          <div class="mb-3">
            <label for="name" class="form-label">Prénoms</label>
            <input type="text" class="form-control" id="name" name="prenom" placeholder="Entrez votre prenom " />
          </div>
          <div class="mb-3">
            <label for="email" class="form-label">Adresse</label>
            <input type="text" class="form-control" name='adresse'id="adresse" placeholder="Entrez votre adresse" />
          </div>
          <div class="mb-3">
            <label for="name" class="form-label">Telephone</label>
            <input type="text" class="form-control" id="tel" name="telephone" placeholder="Entrez votre telephone " />
          </div>
          <div class="mb-3">
            <label for="email" class="form-label">Photo</label>
            <input type="file" name="photo" id="photo">
          </div>
          <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="email" class="form-control" name='email'id="email" placeholder="Entrez votre email" />
          </div>
          <div class="mb-3">
            <label for="password" class="form-label">Mot de passe</label>
            <input type="password" class="form-control" name="password" id="password" placeholder="Créez un mot de passe" />
          </div>
          <div class="mb-3">
            <label for="password" class="form-label">Confirmation Mot de passe</label>
            <input type="password" class="form-control" name="confirm_pwd" id="confirm_pwd" placeholder="Confirmer le Mot de passe" />
          </div>
          <button type="submit" class="btn btn-primary w-100">S'inscrire</button>
        </form>
        <p class="text-center mt-3">
          Déjà inscrit ? <a href="{% url 'loginpage' %}">Connectez-vous ici</a>.
        </p>
      </div>
    </div>
  </section>
{% endblock %}
